/* === Basic styling for the demo modal */

.modal {
  max-width: 100%;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 4px 28px 0 rgba(0, 0, 0, 0.36);
  padding: 16px 32px;
}

.modal1 {
  width: 600px;
}

.modal2 {
  width: 400px;
}

/* === Variation 1: Custom animation which animates the modal in from the bottom and back */

/* this className will be added to the modal when the modal should be animated in */
.from-bottom {
  opacity: 1;
  transform: translate(0, 0);
  animation: from-bottom-in var(--epm-animation-modal-in-duration) ease-out;
}

/* this className will be added to the modal when the modal should be animated out */
.from-bottom.epm-out {
  opacity: 0;
  transform: translate(0, calc(50vh + 50%));
  animation: from-bottom-out var(--epm-animation-modal-out-duration) ease-in;
}

/* these keyframes describe the animation  */

@keyframes from-bottom-in {
  0% {
    opacity: 0;
    transform: translate(0, calc(50vh + 50%));
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes from-bottom-out {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, calc(50vh + 50%));
  }
}

/* === Variation 2: Custom animation which animates the modal in from the top and back */

/* this className will be added to the modal when the modal should be animated in */
.from-top {
  opacity: 1;
  transform: translate(0, 0);
  animation: from-top-in var(--epm-animation-modal-in-duration) ease-out;
}

/* this className will be added to the modal when the modal should be animated out */
.from-top.epm-out {
  opacity: 0;
  transform: translate(0, calc(-50vh - 50%));
  animation: from-top-out var(--epm-animation-modal-out-duration) ease-in;
}

@keyframes from-top-in {
  0% {
    opacity: 0;
    transform: translate(0, calc(-50vh - 50%));
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes from-top-out {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, calc(-50vh - 50%));
  }
}
