<div
  class="epm-backdrop {{unless this.modals.count "epm-out"}}"
  tabindex="-1"
  role="presentation"
  aria-hidden="true"
></div>

{{#each this.modals._stack as |modal|}}
  <div class="epm-modal-container">
    <EpmModal @modal={{modal}} />
  </div>
{{/each}}