<header>
  <h1>
    <a href="https://github.com/simplabs/ember-promise-modals">
      <img src="./ember-promise-modals-logo.svg" alt="ember-promise-modals" width="600" height="400" />
    </a>
  </h1>
</header>

<main>
  <p>
    Code for the demonstrations shown here can be found in the <a href="https://github.com/simplabs/ember-promise-modals/tree/master/tests/dummy" target="_blank" rel="noopener noreferrer">dummy application of the addon</a>.
  </p>

  <div class="box box-blue">
    <p>
      <button type="button" data-test-show-modal {{action "showModal"}}>A simple modal with a button to close it </button>
    </p>
  </div>

  <p>Examples for custom animations</p>

  <div class="box box-green">
    <p>
      <button type="button" data-test-show-modal {{action "showModalFromBottom"}}>From and to the bottom of the window</button>
    </p>
    <p>
      <button type="button" data-test-show-modal {{action "showModalFromTop"}}>From and to the top of the window</button>
    </p>
  </div>

  <p>See the <a href="https://github.com/simplabs/ember-promise-modals#readme" target="_blank" rel="noopener noreferrer">README on GitHub</a> for setup &amp; further instructions.</p>

  <div class="box box-placeholder">
    <p>
      <small>
        Left blank to see <br />how scrolling is handled.
      </small>
    </p>
  </div>

  <p>ember-promise-modals is <br />made &amp; sponsored with ❤️ by <a href="https://simplabs.com" target="_blank" rel="noopener noreferrer">simplabs</a></p>
</main>

<footer>
  <p>
    <small>ember-promise-modals is not an official part of Ember.js and is not maintained by the Ember.js Core Team.</small>
  </p>
</footer>

<EpmModalContainer />